:root {
  --mint: #99ffcc;
  --blush: #ffccff;
  --raspberrySorbet: #d2386c;
  --cornsilk: #ffffb3;
  --gold: #ffd700;
  --greenAsh: #a0daa9;
  --lilac: #e6e6ff;
  --amethystOrchid: #926aa6;
  --misty: #999999;
}

nav {
  width: 100%;
  overflow: auto;
  background-color: transparent;
  border: none;
  overflow: hidden;
  font-size: 24px;
}

nav a {
  padding: 20px;
  width: 33.33%;
  text-align: center;
  color: var(--amethystOrchid);
  text-shadow: 1.5px 1.5px 1.5px var(--lilac);
  text-decoration: none;
}

nav a:hover {
  color: var(--gold);
  text-shadow: 1.5px 1.5px 1.5px var(--cornsilk);
  text-decoration: none;
}

nav a:focus {
  color: var(--raspberrySorbet);
  text-shadow: 1.5px 1.5px 1.5px var(--blush);
  text-decoration: none;
}

nav a:active {
  color: var(--greenAsh);
  text-shadow: 1.5px 1.5px 1.5px var(--mint);
  text-decoration: none;
}

#logo {
  border-radius: 8px;
  border: transparent;
  box-shadow: 3px 3px 5px var(--misty);
  
}

#logo:hover {
  box-shadow: 3px 3px 5px var(--lilac);
}