:root {
  --light: #ffffff;
  --blush: #ffccff;
  --raspberrySorbet:#d2386c;
  --cerulean:#9bb7d4;
  --ocean: #3377ff;
  --mint: #ccffee;
  --seaglass: #66ffcc;
  --minty:#99ffcc;
  --greenAsh:#a0daa9;
  --forest:#004d26;
  --cornsilk: #ffffb3;
  --gold: #ffd700;
  --lilac: #e6e6ff;
  --orchid: #cc99ff;
  --amethystOrchid: #926aa6;
  --cloudy: #cccccc;
  --misty: #999999;
  --smoky: #404040;
  --dark: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark) !important;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  color: var(--amethystOrchid);
  text-shadow: 3px 3px 3px var(--lilac);
  font-family: "Merienda", cursive;
  font-size: 60px;
  font-weight:bolder;
  text-align: center;
}
.home:hover {
  color: var(--lilac);
  text-shadow: 3px 3px 3px var(--amethystOrchid);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 15px;
  color: var(--mint);
  text-shadow: 1px 1px 1px var(--greenAsh);
}

.foot {
  font-size: 13px;
  color: var(--cerulean);
  text-shadow: 1px 1px 1px var(--ocean);
}
.foot:hover {
  font-size: 13px;
  color: var(--lilac);
  text-shadow: 1px 1px 1px var(--amethystOrchid);
}
#foot {
  font-size: 13px;
  color: var(--cerulean);
  text-shadow: 1px 1px 1px var(--ocean);
}
#foot:hover {
  font-size: 13px;
  color: var(--lilac);
  text-shadow: 1px 1px 1px var(--amethystOrchid);
}

.homepage {
  font-size: 20px;
  color: var(--mint);
  text-shadow: 1px 1px 1px var(--greenAsh);
}
.homepage:hover {
  font-size: 20px;
  color: var(--lilac);
  text-shadow: 1px 1px 1px var(--amethystOrchid);
}

i.fab {
  color: var(--cerulean);
  text-shadow: 3px 3px 3px var(--ocean);
  font-size: 80px;
  font-weight:bolder;
  text-align: center;
  padding: 30px;
}
i.fab:hover {
  color: var(--cornsilk);
  text-shadow: 3px 3px 3px var(--gold);
}
i.fab:focus {
  color: var(--raspberrySorbet);
  text-shadow: 3px 3px 3px var(--blush);
}
i.fab:active {
  color: var(--greenAsh);
  text-shadow: 3px 3px 3px var(--mint);
}
i.fas {
  color: var(--mint);
  text-shadow: 3px 3px 3px var(--forest);
  font-size: 80px;
  font-weight:bolder;
  text-align: center;
  padding: 30px;
}
i.fas:hover {
  color: var(--blush);
  text-shadow: 3px 3px 3px var(--raspberrySorbet);
}
i.fas:focus {
  color: var(--cornsilk);
  text-shadow: 3px 3px 3px var(--gold);
}
i.fas:active {
  color: var(--amethystOrchid);
  text-shadow: 3px 3px 3px var(--lilac);
}

#myFaFab {
  vertical-align: baseline;
  border-radius: 5px;
  box-shadow: 2px 3px 5px var(--mint);
}
#myFaFab:hover {
  box-shadow: 3px 4px 7px var(--blush);

}

.book {
height: 600px;
width: 600px !important;
display: flex;
justify-content: center;
align-items: center;
}

.shimmer {
  border-radius: 8px;
  border: transparent;
  box-shadow: 5px 2px 3px 7px var(--misty);
}
.shimmer:hover {
  box-shadow: 5px 2px 3px 7px var(--seaglass);
}

.description {
  font-size: 25px;
  color: var(--mint);
  text-shadow: 1px 1px 1px var(--greenAsh);
}

.grid-container {
  display:grid;
  grid-template-columns:auto auto;
  justify-items: center;
  align-items: center;
}

video#shimmer {
display: flex;
margin-left: 150px;
align-items: center;
justify-items: center;
}
.grid-container > div {
  padding: 10px;
  justify-items: center;
  align-items: center;

}

.myCover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}

@media (max-width: 980px) {
  video#shimmer{
    margin-left: 85px;
  }
}

@media (max-width: 600px) {
  .myCover {
    flex-direction: column;
  }
  
  #scaled {
    width: 100%;
    height: auto;
  }
  video#shimmer{
    margin-left: 65px;
  }
}

@media (max-width: 450px) {
.book {
  max-width: 100%;
  height: auto;
}
video#shimmer{
  margin-left: 50px;
}
}